@media screen and (max-width:960px) {
    div.title h1 {
        display: none;
    }

    header {
        background-color: #333333;
        display: flex;
        height: 80px;
        align-items: center;
    }

    div.info {
        display: block;
    }

    div.text {
        display: block;
        width: 100%;
    }

    div.products {
        justify-content: space-evenly;
    }
   
}

@media screen and (max-width:640px) {
    header.header {
        height: 180px;
        display: block;
    }

    div.title-menu {
        flex-direction: column;
    }

    footer.footer {
        display: block;
    }

    .pLink,
    .payment,
    .contacts {
        display: block;
        width: 100%;
    }
}